<h1 id="zadanie-projektowe-1">Zadanie projektowe 1</h1>
<h2 id="badanie-efektywności-operacji-dodawania-usuwania-oraz-wyszukiwania-elementów-w-różnych-strukturach-danych.">Badanie efektywności operacji dodawania, usuwania oraz wyszukiwania elementów w różnych strukturach danych.</h2>
<h3 id="mateusz-bączek-241330">Mateusz Bączek, 241330</h3>
<h2 id="zarys-problemu">Zarys problemu</h2>
<p>Celem projektu była implementacja i analiza zachowań podstawowych struktur danych. Testowane były operacje tworzenia struktury, dodawania i usuwania elementów oraz wyszukiwanie klucza.</p>
<p>Testowane struktury:</p>
<ul>
<li>Tablica</li>
<li>Lista dwukierunkowa</li>
<li>Kopiec</li>
<li>Drzewo czerwono-czarne</li>
</ul>
<h2 id="sposób-testowania">Sposób testowania</h2>
<p>Dla każdej struktury zmierzony został czas wykonywania operacji:</p>
<ul>
<li>Budowania struktury o rozmiarze N</li>
<li>Dodawania elementu do struktury o rozmiarze N</li>
<li>Usuwanie elementu ze struktury o rozmiarze N</li>
<li>Wyszukiwanie klucza w strukturze o rozmiarze N</li>
</ul>
<p>Gdzie N przyjmuje kolejne wartości:</p>
<ul>
<li>od 1 do 2000 w przypadku tablicy i listy</li>
<li>od 1 do 4000000 w przypadku kopca i drzewa czerwono-czarnego</li>
</ul>
<p>Następnie otrzymane czasy nanoszone są na wykres.</p>
<p>Program posiada też menu tekstowe, które pozwala w dowolnej kolejności wykonywać dowolne operacje na wybranej przez użytkownika strukturze, pozwala wyświetlić zawartość struktury i pokazuje czas wykonania każdej operacji w mikrosekundach.</p>
<h2 id="tablica">Tablica</h2>
<p>Tablica – kontener uporządkowanych danych takiego samego typu, w którym poszczególne elementy dostępne są za pomocą kluczy (indeksu). Indeks najczęściej przyjmuje wartości numeryczne. Rozmiar tablicy jest albo ustalony z góry (tablice statyczne), albo może się zmieniać w trakcie wykonywania programu (tablice dynamiczne). Tablice jednowymiarowe</p>
<p>mogą przechowywać inne tablice, dzięki czemu uzyskuje się tablice wielowymiarowe. W tablicach wielowymiarowych poszczególne elementy są adresowane przez ciąg indeksów.</p>
<p>Praktycznie wszystkie języki programowania obsługują tablice – jedynie w niektórych językach funkcyjnych zamiast tablic używane są listy (choć tablice zwykle też są dostępne). W matematyce odpowiednikiem tablicy jednowymiarowej jest ciąg, a tablicy dwuwymiarowej - macierz.</p>
<pre><code>tablica.print()

[101 118 97 110 103 101 108 105 111 110]</code></pre>
<p><img src="out21.png" /></p>
<p><img src="out22.png" /></p>
<p><img src="out23.png" /></p>
<p><img src="out24.png" /></p>
<h2 id="lista">Lista</h2>
<p>Lista – struktura danych służąca do reprezentacji zbiorów dynamicznych, w której elementy</p>
<p>ułożone są w liniowym porządku. Rozróżniane są dwa podstawowe rodzaje list: lista jednokierunkowa, w której z każdego elementu możliwe jest przejście do jego następnika oraz lista</p>
<p>dwukierunkowa w której z każdego elementu możliwe jest przejście do jego poprzednika i następnika</p>
<pre><code>lista.print()

[114 105 99 97 114 100 111]</code></pre>
<p><img src="out11.png" /></p>
<p><img src="out12.png" /></p>
<p><img src="out13.png" /></p>
<p><img src="out14.png" /></p>
<h2 id="kopiec">Kopiec</h2>
<p>Kopiec (ang. heap, tłumaczone też jako stóg lub sterta) – struktura danych oparta na drzewie, w której wartości potomków węzła są w stałej relacji z wartością rodzica (na przykład wartość rodzica jest nie mniejsza niż wartości jego potomka). Kopce mogą być używane do implementacji kolejek priorytetowych, ponieważ ustalenie odpowiedniej relacji umożliwia bezpośredni dostęp do wierzchołka o największej lub naj mniejszej wartości z danego zbioru zapisanego w kopcu.</p>
<p>Drugie częste zastosowanie struktury kopca to sortowanie. Wstawianie nowych wierzchołków do kopca porządkuje je. Następnie możemy zdejmować obiekty ze szczytu kopca, tak długo aż są w kopcu jakieś obiekty. Otrzymamy wówczas ciąg obiektów uporządkowany według klucza. Na tej zasadzie działa procedura sortowania przez kopcowanie (ang. heapsort).</p>
<pre><code>kopiec.print()

                               96
               95                               92
       86               88               61               86
   34       78       83       50       29       54       11       52</code></pre>
<p><img src="out31.png" /></p>
<p><img src="out33.png" /></p>
<p><img src="out32.png" /></p>
<p><img src="out34.png" /></p>
<h2 id="drzewo-czerwono-czarne">Drzewo czerwono-czarne</h2>
<p>Drzewo czerwono-czarne – rodzaj samoorganizującego się binarnego drzewa poszukiwań -</p>
<p>struktury danych stosowanej w informatyce najczęściej do implementacji tablic asocjacyjnych. Została ona wynaleziona przez Rudolfa Bayera w 1972 roku, który nazwał je symetrycznymi binarnymi B-drzewami. Współczesną nazwę oraz dokładne zbadanie ich właściwości zawdzięcza się pracy <em>A dichromatic framework for balanced trees</em> 1978 roku autorstwa Leo J. Guibasa oraz Roberta Sedgewicka. Drzewa czerwono-czarne są skomplikowane w implementacji, lecz charakteryzują się <strong>niską</strong> złożonością obliczeniową elementarnych operacji takich, jak wstawianie, wyszukiwanie czy usuwanie elementów z drzewa.</p>
<p><img src="out41.png" /></p>
<p><img src="out42.png" /></p>
<p><img src="out43.png" /></p>
<p><img src="out44.png" /></p>
<h2 id="wnioski">Wnioski</h2>
<p>Po samodzielnym zaimplementowaniu i przetestowaniu powyższych struktur danych, najważniejsze wnioski wyraziłem w tabeli:</p>
<table style="width:100%;">
<colgroup>
<col style="width: 33%" />
<col style="width: 33%" />
<col style="width: 16%" />
<col style="width: 16%" />
</colgroup>
<thead>
<tr class="header">
<th>Struktura</th>
<th>Trudność implementacji</th>
<th>Kiedy najlepiej użyć</th>
<th>Kiedy <strong>nie używać</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Tablica</td>
<td>Dziecinnie łatwa</td>
<td>Dane niezmiennej długości, mało dostępnych zasobów</td>
<td>Częste zmiany długości tablicy</td>
</tr>
<tr class="even">
<td>Lista</td>
<td>Łatwa</td>
<td>Dużo operacji dopisywania/kasowania elementów</td>
<td>Brak specjalnych przeciwwskazań</td>
</tr>
<tr class="odd">
<td>Kopiec</td>
<td>Średnia</td>
<td>Potrzeba wyszukania największej/najmniejszej wartości w zbiorze</td>
<td>Brak potrzeby sortowania/przechowywania w danym porządku</td>
</tr>
<tr class="even">
<td>Drzewo czerwono-czarne</td>
<td><strong>Trudna</strong></td>
<td>Szybkie wyszukiwanie dowolnego klucza</td>
<td>Brak potrzeby szybkiego wyszukiwania, potrzeba prostej implementacji</td>
</tr>
</tbody>
</table>
